/* src/components/Header.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4267B2;
    color: #fff;
    padding: 0.5rem 1rem;
  }
  
  .header-left h2 {
    margin: 0;
  }
  
  .header-right input {
    margin-right: 1rem;
  }
  